/**
 * FilesPocket
 * 
 * author: Mohamed Yousef
 * contact: engineer.mohamed.yossef@gmail.com
 * version: 1.0.0
 * license: MIT
 */

/* ************ [Global] ************ */ 
* {
    margin: 0;
    padding: 0;
}

:root {
    --brand: #d0881b;
}


/* ************ [Global] ************ */ 

/* ************ [Header] ************ */ 

/* ************ [Header] ************ */ 

/* ************ [Main] ************ */ 

/* ************ [Main] ************ */ 

/* ************ [Footer] ************ */ 

/* ************ [Footer] ************ */ 

/* ************ [Responsive] ************ */ 
@media only screen and (max-width: 600px) {
    
}
/* ************ [Responsive] ************ */ 