/**
 * FilesPocket
 * 
 * author: Mohamed Yousef
 * contact: engineer.mohamed.yossef@gmail.com
 * version: 1.0.0
 * license: MIT
 */

/* ************ [Global] ************ */ 
* {
    margin: 0;
    padding: 0;
}

:root {
    --brand: #d0881b;
}

.logo {
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}
.logo span {
    color: var(--brand);
}
.logo-small {
    font-size: 2em;
}

.brand-color {
    color: var(--brand);
}
/* ************ [Global] ************ */ 

/* ************ [Header] ************ */ 
header {
    height: 125px;
}
/* ************ [Header] ************ */ 

/* ************ [Main] ************ */ 
main {
    min-height: 450px;
    height: 450px;
}

.card {
    cursor: pointer;
}
.card:hover {
    background-color: #e9ecef;
}
/* ************ [Main] ************ */ 

/* ************ [Responsive] ************ */ 
@media only screen and (max-width: 600px) {
    
}
/* ************ [Responsive] ************ */ 